name: Cloudflare Tunnel Auto Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */2 * * *" # Mỗi 2 giờ (UTC)
  workflow_dispatch: # Cho phép chạy thủ công

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 130 # 2h10p để đủ buffer

    env:
      CLOUDFLARE_TUNNEL_TOKEN: ${{ secrets.TUNNEL_TOKEN }}
      CLOUDFLARED_VERSION: "2024.12.2"
      ARTIFACT_PASSWORD: ${{ secrets.ARTIFACT_PASS }}
      KEEP_ALIVE_MAX_SECONDS: "7200" # 2h
      KEEP_ALIVE_INTERVAL_SECONDS: "5"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          clean: true

      - name: List repo tree
        uses: ./.github/actions.linux/1.0.list-repo-tree

      - name: Setup Nginx
        uses: ./.github/actions.linux/1.1.nginx-setup

      - name: Run Nginx
        uses: ./.github/actions.linux/1.2.nginx-run

      - name: Install Cloudflare Tunnel
        uses: ./.github/actions.linux/2.0.cloudflare-install
        env:
          CLOUDFLARE_TUNNEL_TOKEN: ${{ secrets.TUNNEL_TOKEN }}

      - name: Run Cloudflare Tunnel
        uses: ./.github/actions.linux/2.1.cloudflare-run

      # - name: Keep Alive Monitor
      #   uses: ./.github/actions.linux/3.0.keep-alive-monitor

      # - name: Publish Repo Artifact
      #   if: always() # Chạy dù step trước fail
      #   uses: ./.github/actions.linux/9.9.publish-repo-artifact
